-date          = "0717"
-campaignName  = "aperitif"
-campaignNameM = "aperitif"
-$addLogo      = true
-$vartxtcolor  = "#066C02"

-$campaign = "&utm_campaign=#{date}_#{campaignName}"
-$miror    = "News_"+"#{campaignNameM}_#{date}"
/ layout
-$abspath = false
-$srcAbs  = "http://www.webdesignord.fr/domoti/TL/images/"
-$srcRel  = "images/"

-$white      = "#FFFFFF"
-$varbgcolor = $white
/ ID rayon
- $IDray = { # ...,
  fr: "1516",
  bf: "1515",
  bv: "1519",
  nl: "1514",
  de: "1518",
  uk: "1517"}
/ remplir si mention supplementaire
- $legalplus = { # ...,
  bf: "",
  bv: "",
  de: "",
  fr: "",
  nl: "",
  uk: ""}

/ LAYOUT
- $shadLR_H = 1212

/ main nav
-$altunivers = ["CUISINE","ENTRETIEN ET RANGEMENT","SANTE ET BEAUTE","MAISON ET DECO","LOISIRS","VETEMENTS ET ACCESSOIRES"]

/ code KDO footer
- $code = "XXXX"