- $service = { # ...,
  s1: "Les services Temps L :",
  s2: "- la ",
  s3: "garantie satisfaction ",
  s4: ": enchanté ou remboursé ! Vous avez 15 jours pour changer d'avis, nous vous remboursons sans discussion.",
  s5: "- la ",
  s6: "livraison au choix ",
  s7: ": à domicile, en point relais, ou en express, à vous de choisir.",
  s8: "- le ",
  s9: "paiement en ligne sécurisé",
  s10: ": nous vous garantissons la sécurité des données sur notre site. Vous pouvez payer en toute confiance !",
  }
- $contact = { # ...,
  s1: "Merci de ne pas répondre à ce message. Si vous souhaitez nous contacter, cliquez sur : ",
  s2: "Contact",
  }
- $desabo = { # ...,
  s1: "Conformément à la Loi informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression à l'égard de toute information vous concernant auprès de DOMOTI SAS au capital de 100 000€ RCS LILLE B 342 883 758. Ce doit peut s'exercer par la rubrique contact du site ou par courrier à Temps L, en indiquant vos nom, prénom, adresse et n° client. Si vous ne souhaitez plus recevoir les informations de TempsL cliquez pour vous ",
  s2: "désabonner",
  s3: "Les données du client peuvent être communiquées à un tiers concerné dans le cadre d’un changement de contrôle, de fusion, de cession de fonds de commerce ou d’apport partiel d’actifs de DOMOTI SAS.",
  }
- $domSas = { # ...,
  s1: "DOMOTI SAS, capital de 100 000€ - RCS Lille B 342 883 758",
  }

/ temp
- $ModOffre = { # ...,
  s0: "* ",
  s1: "Modalités de l’offre :",
  s2: "Les frais de livraison express en Relais Colis sont offerts pour toute commande passée sur le site www.tempsl.fr (non valable par courrier ou téléphone). ",
  s3: "Du 18 au 21 juillet 2016 17h, soit une économie de 3.50€. ",
  s4: "Cette offre n’exclut pas le paiement de la participation aux frais de port et d’emballage de la commande de 6.99€. ",
  s5: "Pour toute commande passée avant 12h, votre colis vous sera livré le lendemain après midi dans votre Relais Colis<sup>®</sup>.",
  }
- $asterisque= { # ...,
  s1: "* Le cuiseur malin express 6 en 1 vous est proposé à -50%, soit à 39.50€ au lieu de 79.00€ dans la limite des stocks disponibles, jusqu’à épuisement.",
  }
- $unicef= { # ...,
  s1: "* L'UNICEF ne cautionne aucune marque, produit ou service.",
  }
- $alcool= { # ...,
  s1: "L'abus d'alcool est dangereux pour la santé, consommez avec modération.",
  }
- $votreKdo = { # ...,
  s1: "** Votre cadeau vous est offert gratuitement avec votre commande, en fonction des stocks disponibles. En cas de rupture de stocks, Temps L se réserve le droit de remplacer votre cadeau par un article de valeur équivalente ou supérieure. Si vous ne souhaitez pas commander, vous pouvez envoyer votre demande, par courrier uniquement, à TEMPS L 59685 Roubaix Cedex 2, (6,99€ en carte Bancaire) pour la participation aux frais de mise à disposition, les frais de traitements étant les mêmes que pour une commande livrée à domicile. Votre Cadeau vous sera expédié dans un délai de 3 mois maximum, les commandes étant prioritaires. Photos non contractuelles.",
  }
- $biocide = { # ...,
  s1: "* Produit biocide, à utiliser avec précaution. Lire attentivement les modalités et précautions d’emploi avant usage.",
  }